#header-login.freelancer-profile {
    height: 550px;
}


.col-lg-8.white-2 {
    display: block;
    max-width: 100%;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
    box-shadow: 0 0 0 1 rgba(0, 0, 0, 0.6);
}
.overview h3 {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: rgb(44, 62, 80);
    letter-spacing: 1px;
}
.overview p {
    font-family: "Varela Round", sans-serif;
    padding-bottom: 0px;
    font-size: 14px;
    letter-spacing: 1px;
    color: #000 !important;
}
.overview .label-success {
    font-family: "Varela Round", sans-serif;
    margin-bottom: 5px;
    font-size: 14px;
    letter-spacing: 1px;
    color: rgb(255, 255, 255) !important;
    background: rgb(5, 203, 149) !important;
}
.overview h5 {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    color: rgb(44, 62, 80);
    letter-spacing: 1px;
    font-size: 12px !important;
}
.col-lg-2,.col-lg-4,.col-md-9{
    float: left;
}
 .progress-xxs {
    height: 5px;
    box-shadow: none;
}

.progress {
    height: 5px;
    background-color: rgb(235, 238, 241);
    background-image: none;
    box-shadow: none;
}
.progress-bar.progress-bar-primary.progress-bar-mint {
    background: rgb(5, 203, 149) !important;
}
.bottom-sec .col-lg-4 {
    margin: 0 0 16px;
}
.bottom-sec:after{
    content: "";
    width: 100%;
    height: 100%;
    display: inline-block;
    border-bottom: 4px solid #e0e0e0;
    padding-bottom: 10px;
}
.chart {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 50px 0;
    text-align: center;
    border: 3px solid rgb(5, 203, 149) !important;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}
.overview .percent:after {
    content: '%';
    margin-left: 0.1em;
    font-size: 50%;
}
.col-md-3.col-sm-6.text-center {
    float: left;
}
.percent {
    display: inline-block;
    line-height: 40px;
    font-size: 38px;
    font-weight: 300;
    color: #2c3e50 !important;
    z-index: 2;
}
.skills.overview {
    padding: 30px 0;
}
.overview .chart canvas {
    position: absolute;
    top: 0;
    left: 0;
}
.overview h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #2c3e50;
    font-size: 12px !important;
    letter-spacing: 1px;
}

#add_skill{
    display: none;
}
