/*****************************************************************************************
                                    header section
*************************************************************************************** */
 #header{
    background: linear-gradient(
 rgba(34,34,34,0.7),
 rgba(34,34,34,0.7)
 ), url(../img/banner.jpg) no-repeat center center fixed;
    background-size: cover;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    color: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -56px;
    height: 650px;
}
#header .btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    background: #0de5ab !important;
    height: 85px;
    width: 150px;
    border-radius: 10px;
    margin-top: 90px;
    margin-right: 15px;
    font-size: 32px;
}
/*****************************************************************************************
                                    header section
*************************************************************************************** */


/**********************************************************************************
                                    service section
*********************************************************************************/

.services {
    padding: 30px 0 50px;
    background: #2C3E50;
}
.services h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #fff;
}
hr.mint {
    background: #16A085;
    border: 0;
    width: 100px;
    height: 3px;
    clear: both;
    margin: 0 auto;
}
hr.mint2 {
    background: #16A085;
    border: 0;
    width: 100px;
    height: 3px;
    clear: both;
    margin: 0;
}
.services p.top-p {
    margin: 10px 0;
    color: #fff;
}
.services .features.one,.services .features.two,.services .features.three,.services .features.four,.services .features.five,.services .features.six,.services .features.seven,.services .features.eight {
    background: linear-gradient(
        rgba(34,34,34,0.7),
        rgba(34,34,34,0.7)
        ), url(../img/banner.jpg);
    width: 100%;
    padding: 20px 15px;
    margin-top: 20px;
    color: #fff;
}
.services .features {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-top-left-radius: 6px;
    -moz-border-top-right-radius: 6px;
}
.services .features .fa-inverse {
    color: #555;
}
.services .spacer {
    margin: auto;
    background-color: #fff;
    padding: 20px 15px;
    color: #899797 !important;
    border-top: 5px solid #2C3E50;
    border-bottom: 5px solid #16A085;
}

/*************************************************************************
                        service ends here
**************************************************************************/

/*************************************************************************
                            banner comment starts here
*************************************************************************/
.banner-comment {
    width: 100%;
    height: 50vh;
    background: url(https://images.unsplash.com/photo-1512620053409-d1cb57676f2e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=65dceae4e34e9514577cc8dc129db438&auto=format&fit=crop&w=1350&q=80) no-repeat center center fixed;
    background-size: cover;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px 0 30px;
}
.banner-comment h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #fff;
    letter-spacing: 1px;
    font-size: 2.5rem;
}
/*************************************************************************
                            banner comment ends here
*************************************************************************/


.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: #ffffff;
}