.jobpost .col-lg-8.white {
    padding-top: 10px;
}
.jobpost.col-lg-8.white{
    position: relative;
    display: block;
    max-width: 100%;
    margin-top: -80px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 0 0 1 rgba(0, 0, 0, 0.6);
}
.jobpost h6 a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: #2c3e50;
    letter-spacing: 1px;
}
.jobpost h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #2c3e50;
}
.jobpost p {
    font-family: 'Varela Round', sans-serif;
    color: #868585 !important;
    font-weight: 300;
    padding-bottom: 10px;
    letter-spacing: 1px;
}
.jobpost .post-top-sec h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #2c3e50;
    font-size: 12px !important;
    letter-spacing: 1px;
}
.jobpost .post-top-sec .small-hr {
    margin: 8px auto;
    border-bottom: 1px solid #FDFDFD;
    width: 100%;
}
.jobpost .post-bottom-sec {
    margin-bottom: 20px;
}
ul.square {
    list-style: square outside;
}
.jobpost ul li {
    font-family: 'Varela Round', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #868585 !important;
    letter-spacing: 1px;
}


/**********************profile*******************/
.user {
    margin-top: 10px;
    margin-bottom: 20px;
    border: 0;
}
.cover-img {
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.user .avatar {
    margin-bottom: 0px;
    text-align: center;
    margin-top: 0;
    background: #25303B;
    padding-bottom: -40px;
    height: 108px;
}
.panel>.list-group {
    margin-bottom: 0;
    border: none;
    border-bottom: none;
}
.panel * {
    z-index: 2;
}
.user .avatar img {
    width: 90px;
    height: 90px;
    max-width: 90px;
    max-height: 90px;
    position: relative;
    top: -50px;
}
.list-group:last-child {
    padding-left: 0;
    margin-bottom: 20px;
    margin-top: 20px;
}
.user h4 {
    font-family: 'Montserrat', sans-serif;
    margin: 0!important;
    font-weight: 700;
    color: #fff !important;
    position: relative;
    top: -45px;
    letter-spacing: 1px;
}
.user p {
    font-family: 'Varela Round', sans-serif;
    margin: 0!important;
    position: relative;
    top: -45px;
    color: #868585 !important;
    letter-spacing: 1px;
}
.user.panel {
    overflow: hidden;
}