/**********************************************************************************************
                                        Head Button starts
 ***********************************************************************************************/

.btn-headline{
    font-family: 'Varela Round', sans-serif;
    font-weight: 700;
    font-size: 14px;
    position: relative;
    margin-top: 93px;
    left: -40px;
    padding: 13px 31px;
    color: #fff;
    background: #05cb95;
    letter-spacing: 1px;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    line-height: 1.4;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    khtml-user-select: none;
    webkit-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -moz-transition: background, 0.3s;
    webkit-transition: background, 0.3s;
    transition: background, 0.3s;
}

/**********************************************************************************************
                                        Head Button ends
 ***********************************************************************************************/

/**********************************************************************************************
                                        JOB Content Starts
 ***********************************************************************************************/
.job {
    padding: 10px 0 0px 0;
}

.job:before {
    content: "";
    width: 100%;
    height: 100%;
    display: inline-block;
    border-bottom: 4px solid #e0e0e0;
    padding-bottom: 10px;
}
.job .top-sec {
    padding-top: 15px;
}

.job .top-sec .col-lg-2 {
    padding-right: 0 !important;
    margin-right: 0 !important;
}
.job .top-sec img {
    width: 60px;
    height: 60px;
    border-radius: 3px;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}

.job .mid-sec {
    padding: 10px 0 5px 0;
}

.job .small-hr {
    margin: 8px auto;
    border-bottom: 1px solid #FDFDFD;
    width: 100%;
}
.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
.job .mid-sec p {
    font-family: 'Varela Round', sans-serif;
    padding-bottom: 0px;
    font-size: 14px;
    color: #000000 !important;
}
.job .mid-sec .label-success {
    font-family: 'Varela Round', sans-serif;
    background: #05cb95 !important;
    margin-bottom: 5px;
    font-size: 10px;
    color: #fff !important;
    letter-spacing: 1px;
}
.job .top-sec h4 a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-weight: 700;
    color: #2c3e50;
    letter-spacing: 1px;
}
.job .top-sec .col-lg-10 {
    position: relative;
    left: -60px;
    float: left;
}
.job .top-sec .col-lg-2 {
    padding-right: 0 !important;
    margin-right: 0 !important;
    float: left;
}
.job .top-sec h4 a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-weight: 700;
    color: #2c3e50;
    letter-spacing: 1px;
}

.job .top-sec h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #2c3e50;
    letter-spacing: 1px;
}

.job .bottom-sec h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #2c3e50;
    font-size: 12px !important;
    letter-spacing: 1px;
}
.job .bottom-sec p {
    font-family: 'Varela Round', sans-serif;
    padding-bottom: 0px;
    font-size: 14px;
    color: #000000 !important;
}

.job .bottom-sec .col-lg-2 ,.job .bottom-sec .col-lg-4{
    float: left;
}
.job .bottom-sec .frlncr-btn-mint-small {
    margin-top: 10px;
}
.frlncr-btn-mint-small {
    font-family: 'Varela Round', sans-serif;
    font-weight: 700;
    font-size: 12px;
    padding: 6px 11px;
    color: #fff;
    background: #05cb95;
    letter-spacing: 1px;
}
.frlncr-btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    line-height: 1.4;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    khtml-user-select: none;
    webkit-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -moz-transition: background, 0.3s;
    webkit-transition: background, 0.3s;
    transition: background, 0.3s;
}
/******************************************pagination****************************/
.page:before {
    content: "";
    width: 100%;
    height: 100%;
    display: inline-block;
    border-bottom: 4px solid #e0e0e0;
    padding-bottom: 10px;
}
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}
.pagination>li {
    display: inline;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.page .pagination > .disabled > a{
    background: #05cb95 !important;
    border-color: #05cb95 !important;
    padding: 5px;
}
.pagination>li:first-child>a{
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.page .pagination li:last-child a {
    padding: 5px;
}
.page .pagination li a{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: #fff !important;
    width: 30px;
    height: 30px;
    margin: 0 5px;
    background: #05cb95;
    border-radius: 0px;
}
.pagination>.disabled>a{
    cursor: not-allowed;
}
.pagination>li>a{
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}




/*******************code for category section starts*******************/

.list:first-child {
    padding: 10px 0 0px 0;
}
.list-group {
    padding-left: 0;
    margin-bottom: 20px;
}
.list .list-group-item.active {
    background: #05cb95;
    border-color: #05cb95;
    color: #fff;
}
.list .cat-top {
    font-family: 'Varela Round', sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 14px !important;
    letter-spacing: 1px;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}
.list .list-group-item.active > .badge {
    color: #2c3e50 !important;
}
.list-group-item.active>.badge{
    background: #ffffff;
}
.list-group-item>.badge {
    float: right;
}
.badge {
    position: absolute;
    top: 10px;
    right: 10px;
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 10px;
}
.list .cat-list {
    font-family: 'Varela Round', sans-serif;
    font-size: 14px !important;
    font-weight: 300;
    color: #000000 !important;
    letter-spacing: 1px;
}



/*******************code for category section ends*******************/
/*******************code for search section starts*******************/
.list-search {
    padding: 10px 0 10px 0;
}
.list-search .button {
    border-top-right-radius: 3px;
    background-color: #05CB95;
    cursor: pointer;
    color: #fff;
    float: right;
    width: 66px;
    padding: 15px;
    height: 56px;
    display: inline;
    font-size: 18px;
    z-index: 999;
    border: medium none;
    position: relative;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.search-headline{
    padding: 10px 0 20px;
}
/*******************code for search section ends*******************/

/**********************************************************************************************
                                        Job Content ends
 ***********************************************************************************************/