/***************************************************************************************************************
                                                        navbar style starts from here
****************************************************************************************************************/

.sa-margin{
    margin-right: 0!important;
    margin-left: auto;
}
/*.nav-bg-color{*/
    /*background: transparent!important;*/
/*}*/
.navbar-light .navbar-nav .active>.nav-link,.navbar-light .navbar-brand{
    color: #05cb95;
    text-transform: uppercase;
    font-weight: 700;
}
.navbar-light .navbar-nav .nav-link{
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
}



/***************************************************************************************************************
                                                        navbar style ends here
****************************************************************************************************************/





/***************************************************************************************************************
                                                        carousel style starts from here
****************************************************************************************************************/



#header-login {
    background: linear-gradient(
            rgba(34,34,34,0.7),
            rgba(34,34,34,0.7)
    ), url(../img/banner.jpg) no-repeat center center fixed;
    background-size: cover;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    color: #fff;
    height: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -56px;
}


/***************************************************************************************************************
                                                        carousel style ends from here
****************************************************************************************************************/




/***************************************************************************************************************
                                                        signup style starts from here
****************************************************************************************************************/


#signup{
    width: 100%;
    background: #25303B;
    padding-top: 150px;
    padding-bottom: 200px;
    color: #fff;
}
#signup .divider {
    font-family: 'Varela Round', sans-serif;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding-top: 115px;
    
}
.fa-user-circle:before{
    color: #05cb95;
}

#signup span.or::before {
    position: absolute;
    content: "";
    display: block;
    padding: 55px 0;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    left: 95px;
    margin-top: -106px;
}
#signup span.or::after{
    position: absolute;
    content: "";
    display: block;
    padding: 55px 0;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    left: 95px;
}
.btn-success{
    background: #05cb95;
}
.signup-icon{
    font-size: 60px;
}
span{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/*************************************register*****************/
.registration .textarea {
    width: 40%;
    margin: 0 auto;
}
/***************************************************************************************************************
                                                        signup style ends from here
****************************************************************************************************************/
/***************************************************************************************************************
                                                        login style starts from here
****************************************************************************************************************/
.registration label {
    display: inherit;
    margin-bottom: .5rem;
    font-size: 24px;
    text-transform: uppercase;
    width: 275px;
}
.address {
    margin: 80px 0 50px;
    color: #05cb95;
    font-size: 32px;
}
.custom-form-login {
    width: 40%;
    margin: 0 auto;
}
.login-form-a{
    color: #fff;
}
.login-head{
    padding-bottom: 40px;
}
.login-button{
    margin-top: 40px;
    margin-bottom: 40px;
    width: 40%;
    height: 57px;
    border: 0;
    border-radius: 29px;
    background: #05cb95;
    font-family: 'Varela Round', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    cursor: pointer;
}
/***************************************************************************************************************
                                                        login style ends from here
****************************************************************************************************************/

/***************************************************************************************************************
                                                        footer style starts from here
****************************************************************************************************************/
#footer{
    padding: 60px 30px;
    background: #1D2026;
    color: #fff;
}
#footer ul,#last-footer ul{
    list-style-type: none;
}
#footer ul li a,#last-footer ul li a{
    color: #fff;
    text-transform: capitalize;
}
#footer ul {
    list-style-type: none;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0;
}
hr.mint {
    background: #16A085;
    border: 0;
    width: 100px;
    height: 3px;
    clear: both;
    margin-left: 0;
}
hr {
    display: block;
    unicode-bidi: isolate;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}



/*******************last footer*********************/
#last-footer{
    background: #2C3E50;
    color: #fff;
    padding: 20px;
}
li.footer-li {
    float: left;
    padding: 10px;
}
.footer-icon {
    font-size: 50px;
    text-align: center;
}
.social-links li a {
    display: block;
    color: #fff;
    color: rgba(255,255,255,0.3);
    font-size: 18px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: rgba(0,0,0,0.2);
    border-radius: 0px;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
.social-links li a:hover {
    color: #fff !important;
    background: #37BC9B;
}
a.footer-brand {
    color: #fff;
}
.footer-brand-icon{
    text-align: center;
}

/***************************************************************************************************************
                                                        footer style ends from here
****************************************************************************************************************/


/***development css ****/

#job_post {
    width: 100%;
    background: #25303B;
    padding-top: 150px;
    padding-bottom: 200px;
    color: #fff;
}

.email_job {
    font-size: 70%;
    font-weight: 400;
    margin-left: 20px;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(5, 203, 149);
}
.post_job_btn{
    color: #ffffff;
}

.about_us{
    margin-left: 14px;
    padding:15px 10px 10px 0;
}